.main-img {
    margin-top: 5%;
    margin-left: 23%;
}

.page-header {
    margin-top: 1%;
    padding-top: 1%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.home-page {
    background-color: rgb(214, 229, 229);
}

#card-container {
    margin-left: 32%;
    padding-top: 3%;
    padding-bottom: 15%;

}

.login-div {
    margin-left: 38%;
}